/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Site header styles */
.site-header {
  border-bottom: 1px solid #e8e8e8;
  border-top: 5px solid #424242;
  min-height: 56px;
  position: relative;
}

.site-header-title {
  color: #424242;
  float: left;
  font-size: 26px;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 56px;
  margin-bottom: 0;
  text-decoration: none;
}

.site-header-nav-bar {
  float: right;
  line-height: 56px;
}

/* Horizontally centers body */
.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  padding-left: 30px;
  padding-right: 30px;
}
